@media (max-width: 68rem){
	.section_menu{
		display: flex;
		flex-direction: column;

		justify-content: space-between;
		height: 70rem;

	}
	.tipo{
		font-family: 'Arvo', serif;
		align-self: center;



	}
	.descricao{
		border-style: solid;
		border-width: 0.25rem;
		border-radius: 8rem;
		font-family: 'Work Sans', sans-serif;
		text-align: center;
		width: 75%

	}
	.principal{
		font-size: 5rem;
		display:flex;
		justify-content: space-around;
	}
	.item_menu{
		font-size: 4rem;
		display: flex;
		justify-content: space-around;
		
	}

	.opcao{ 
		font-family: 'Arvo', serif;
		

	}

	.insert_time{
		
		width: 25%;
		height: 100%;
		font-family: 'Work Sans', sans-serif;
		text-align:center;
	}
	.insert{
		font-family: 'Work Sans', sans-serif;
		text-align:center;
	
		width: 50%;
		height: 100%;



	}
	.botao{
		
		text-align: center;
		text-decoration: none;
		
		width: 35rem;
		align-self: center;

	}
	.botao:visited{
		color: black;
	}
	.titles{
		font-family: 'Arvo', serif;
		color: #ffffff;
		font-size: 10rem;
		display: flex;
		justify-content: center;
		margin-top: 2.5rem;
		margin-bottom: 2.5rem;
		text-align: center;


	}

	input{
		width: 100%;
		height:100%;
		border-style: solid;
		border-width: 0.25rem;
		text-align: center;
		border-radius: 8rem;
		font-size: 2.5rem;
		background-color: #000000;
		font-family: 'Work Sans', sans-serif;
		color: #ffffff;
	}
	input[type=submit]{
		font-size: 6rem;
		text-align: center;
		text-decoration: none;
		border-style: solid;
		border-width: 0.25rem;
		border-radius: 5rem;
		border-color: #ffffff;
		width: 35rem;
		align-self: center;
		font-family: 'Work Sans', sans-serif;
	}
	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  	color: #ffffff;
  	opacity: 0.9; /* Firefox */
}


}

