/* Estilo para a página de categorias */

.img_h{
	display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    border-radius: 20rem;
    border-style: solid;
    border-width: 0.25rem;
}
.img_place{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}


@media (max-width: 68rem){
    .img_h{
        display: flex;
    }
    .img_place{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
    }

    





}