/* Estilo para a página de categorias */



.section_menu{
    display: grid;
    justify-items: center;
    margin-left:5%;
    margin-right: 5%;
    margin-top: 5rem;
    grid-gap: 2.5rem; 
    grid-template-columns: 100%;
    grid-template-rows: 70% 20% 10%;


}
.estacionar{
    display:flex; 
    text-align: center;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 5px;
    border-color: #000000;
    width: 60rem;
    height: 20rem;
    background-color:#ffffff;
    font-size: 11rem;
    font-family: 'Arvo', serif;

    
}

.link_estacionar{
    width: 60rem;
    height: 20rem;
    text-decoration: none;

}

.link_estacionar:visited {
  color: black;
}


.link_retirar:visited {
  color: black;
}
.link_retirar{
    text-decoration: none;


}
.retirar{
    display: flex;
    border-style: solid;
    border-width: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-color: #000000;
    width: 60rem;
    height: 10rem;
    background-color:#ffffff;
    font-size: 8rem;
    font-family: 'Arvo', serif;
}

.estacionar{
    grid-row-start: 1;
    grid-column-start: 1



}

.retirar{
    grid-row-start: 2;
    grid-column-start: 1



}
.img_h{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    width: 60rem;
    height: 40rem;
    
}
.img_place{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
